title: "Analysis of 419,000 FlapMMO attempts"
datePosted: "2014-02-15T15:26:27.337Z"
tags: [
  "software"
  "data-mining"
  "data-visualization"
  "flapmmo"
  "gaming"
]
slugs: [
  "analysis-flapmmo-attempts"
]
featured: true
descriptionMd: """
  FlapMMO offered a lot of entertainment, and a lot of data! I present some insights on player performance after logging over 4 hours of player attempts.
"""