title: "East Sooke Park and Magic Lantern RAW video tests"
datePosted: "2014-01-16T09:34:46.651Z"
tags: [
  "photography"
  "hiking"
  "videos"
  "5d3"
  "workflows"
  "magic-lantern"
]
slugs: [
  "east-sooke-park-photos-magic-lantern-tests"
]