title: "Target visibility detection for GuiltySpark: Part 2"
datePosted: "2013-10-20T18:53:01.763Z"
tags: [
  "guiltyspark"
  "halo"
  "software"
  "geometry"
  "ray-casting"
  "reverse-engineering"
]
slugs: [
  "guiltyspark-visibility-detection-part-2"
]
descriptionMd: """
  Extracting the BSP tree was half the battle. Now we need to iterate over its nodes and test if leaves occlude a ray between the bot and its target. Code inside!
"""