title: "Hacking FlapMMO for mouse control"
datePosted: "2014-02-14T11:02:20.412Z"
tags: [
  "flapmmo"
  "reverse-engineering"
  "javascript"
  "gaming"
  "software"
]
slugs: [
  "hacking-flapmmo-mouse-control"
]
descriptionMd: """
  It turns out FlapMMO uses client-authoritative code for player coordinates. Might as well abuse it while it lasts!
"""