title: "A Photoshop method for smoothly looping a GIF"
datePosted: "2014-02-20T03:26:24.344Z"
tags: [
  "photoshop"
  "gif"
  "editing"
  "video"
]
slugs: [
  "photoshop-smoothly-looping-gif-tutorial"
]
featured: true
descriptionMd: """
  In this tutorial, I show how to smoothly loop a GIF by animating moving masks. This method is great for looping streams of moving objects at a distance, or flowing water.
"""