title: "How to make a colour afterimage optical illusion"
datePosted: "2013-12-24T02:20:15.508Z"
tags: [
  "photoshop"
  "tutorials"
  "optical-illusions"
]
slugs: [
  "colour-afterimage-optical-illusion-tutorial"
]
featured: true
descriptionMd: """
  How to make those GIFs where you stare up close at a dot for a while to make a black and white image look coloured. I promise it won't jump out at you.
"""